@{
    ViewBag.Title = "Home Page";
}

  <!--================Home Banner Area =================-->
<section class="blog_banner">
    <div class="banner_inner d-flex align-items-center">
        <div class="banner-pic bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"></div>
        <div class="container">
            <div class="blog_b_text text-center">
                <h2>Less Spending.<br />More Studio Time.</h2>
                <p>Home-Studio reservations and advertising for the Independent Artist.</p>
                <a class="main_btn" href="~/OwnerStudios/Index">Find a Studio</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div style="margin-right: 5%;">
                    <img class="img-fluid" src="~/Content/img/studiohosts/sh2logo.png" alt="">
                </div>
            </div>
            <div class="col-lg-6" style="margin-top: 7%;">
                <div class="welcome_text">
                    <h4>Welcome to StudioHosts!</h4>
                    <p>Many talented, idependent, music artists lack the profressional production equipment to expose them to an audience. This results in many promising artists shoveling out their hard earned cash for studio time at corporate Record Labels. Regardless of where you currently stand in the music industry, StudioHosts can benefit you and your career by offering you Home-Studio alternatives, posted by other artists like you. <br /><br />Simply by using our services, you will also be included in the "Artists" board. Here, anyone who comes across your Artist Profile can learn about you and your music, as well as stream a track of your choosing right from your profile. </p>
                </div>
            </div>
        </div>
    </div>
</section>