
@{
    ViewBag.Title = "ResLimitReach";
}
<div style="margin-bottom: 10%;"></div>
<div class="main_title">
    <h2>The daily reservation limit for this studio has been met.</h2>
    <p>Try making a reservation for a different date or location.</p>

</div>

<div class="form-group">
    <div class="col-md-12" style="text-align: center;">
        <a href="~/OwnerStudios/Index/" class="main_btn2">Back to Studios</a>
    </div>
</div>

<div style="margin-bottom: 10%;">
</div>
